 <!DOCTYPE html>
<html>
<head>
  <title>Search Movie Details Better</title>
  <meta charset="utf-8">
  <meta name="description" content="Mini Netflix is a clone of the popular NetFlix website but with lesser capability. You can search for your favorites movie and then use add those you like to your favorites">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/bootstrap4.css">
  <link rel="stylesheet" type="text/css" href="css/homepage.css">
  <link rel="stylesheet" type="text/css" href="css/landing.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MiniNetFlix</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> 
            <li class="nav-item">
               <a class="nav-link fav" href="#">View Favorites</a>           
			     </li>
        </ul>
      </div>
  </nav>
  <main class="main container mb-3">
      <!-- <p class="errorMessage"> -->
    <!-- An error Occured -->
  <!-- </p> -->
    <div class="form-container">
      <input type="text" name="" id="searchInput">
      <button class="" id="btn1" aria-describedby="descriptionGetStarted">Search</button>
      <p style="display: none" id="descriptionGetStarted">Click on this button to serve for your favorite movie</p> 
    </div> 
    <div class="row movie-container">
      
    </div>
  </main>
  <div style="height: 50px;">
  	
  </div>
  <footer class="fixed-bottom bg-dark mt-4 text-center d-flex align-items-center justify-content-center text-white" style="height: 50px;">
    &copy;Petib 2019
  </footer>
  <script type="text/javascript" src="javascript/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="javascript/bootstrap.js"></script>
  <script type="text/javascript" src="javascript/views/base.js"></script>
  <script type="text/javascript" src="javascript/models/storage.js"></script>
  <script type="text/javascript" src="javascript/models/favorite.js"></script>    
     <script type="text/javascript" src="javascript/views/favoritesView.js"></script>
    <script type="text/javascript" src="javascript/views/movieView.js"></script>  
  <script type="text/javascript" src="javascript/models/movie.js"></script>
  <script type="text/javascript" src="javascript/views/easyHttpView.js"></script>
  <script type="text/javascript" src="javascript/models/easyHttp.js"></script>
  <script type="text/javascript" src="javascript/index.js"></script>
</body>
<div id="secondModal" class="Modal2 is-hidden is-visuallyHidden">
  <div class="Modal-content2">
  <i class="fa fa-2x fa-window-close Close" id="closeModal2" style="color: red;"></i>
    <div class="container movie-box">
      <div class="movie-iterator row">
        
      </div>
    </div>
  </div>
</div>

</html>
<div id="myModal" class="Modal is-hidden is-visuallyHidden">
  <div class="Modal-content">
    <i id="closeModal" class="fa fa-2x fa-window-close Close" style="color: red;"></i>
    <div class="container">
        <div class="movie-Content"></div>
    </div>
	</div>
</div>	