body{
   position: relative;
   font-family: sans-serif;
/*   color: rgb(249, 238, 219);*/
   height: auto;
   width: 100%;
   background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/apparel.jpg") no-repeat center center fixed;
    background-size: cover;
}

a{
  text-decoration-line: none;
}

.main{
    position: relative;
    height: 100%;
    width: 100%;
}

.loader-box{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  /*z-index: 50000;*/
  /*background: red;*/
  display:none;
}

.loaderText{
  position: fixed;
  width: 150px;
  height: 40px;
  left: 50%;
  top: 56%;
  margin-left: -75px;
  text-align: center;
  color: white;
}

.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  border-width: 5px;
  border-style: solid;
  border-right-color: lightblue;
  border-bottom-color: lightblue;
  border-top-color: lightblue;
  border-left-color: gray;
  border-radius: 50%;
  z-index: 30000;
  /*animation-delay: 1s;*/
  animation-name: loader;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loader{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(720deg);
  }
}

.errorMessage{
  color: white;
  position: fixed;
  margin: 0px auto;
  text-align: center;
  padding: 5px;
  background: red;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}

.successMessage{
  color: green;
  position: fixed;
  margin: 0px auto;
  text-align: center;
  padding: 5px;
  border: 1px solid green;
  background: white;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}

.existMessage{
  color: red;
  position: fixed;
  margin: 0px auto;
  text-align: center;
  padding: 5px;
  border: 1px solid red;
  background: white;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}

.onBlur {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}


.box-mg{
    margin-left: 10%;
    margin-right: 0%
}

.details{
  text-decoration: none;
  text-decoration: none;
  padding: 5px;
  background-color: white;
  border: 1px solid blue;
  cursor: pointer;
  border-radius: 3px;
}

.details:hover,
.details:active{
  border: 1px solid transparent;
  color: white;
  border:none;
  background-color: #007bff;
}

.movieTitle{
  color: white
}

.blur{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.form-container{
  display: flex;
  margin-top: 10px;
}

#btn1{
  /*outline: none;*/
  border: 1px solid #007bff;
  background-color:white;
  color: #007bff;
  width: 70px;
  cursor: pointer;
  border-radius: 4px; 
}

#btn1:hover,
#btn1:active{
  border: 1px solid transparent;
  color: white;
  border: none;
  background-color: #007bff;
}

#btn2{
  /*utline: none;*/
  border: 1px solid #007bff;
  background-color:white;
  color: #007bff;
  /*width: 70px;*/
  cursor: pointer;
  border-radius: 4px; 
}

#btn2:hover,
#btn2:active{
  border: 1px solid transparent;
  color: white;
  border: none;
  background-color: #007bff;
}

#searchInput{
  outline: none;
  width: 180px;
}

.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20999;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}


.Modal2 {
  /*display: block;*/
  position: fixed;
  left: 50%;
  top: 10px;
  border-radius: 3px;
  /*right: 0;*/
  margin-left: -170px;
  /*margin-top: */
  z-index: 29999;
  /*width: 100%;*/
  /*width: 480px;*/
  width: 340px;
  /*margin: 0px auto;*/
  /*min-height: 520px;*/
  height: 90%;
  padding-top: 5px;
  background-color: white;
  /*opacity: 0.2;*/
  /*background-color: rgba(0, 0, 0, 0.4);*/
  -webkit-transition: 0.5s;
  overflow-y: auto;
  transition: all 0.3s linear;
}

.Modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border-radius: 4px;
  max-width: 340px;
  min-height: 500px;
  /*overflow-y: scroll;*/
}

.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border-radius: 4px;
  max-width: 350px;
  min-height: 450px;
  overflow: auto;
}

.modal-bg{
  position: fixed;
  top: 0;
  display: none;
  opacity: 0.9;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 15000;
  background: navyblue;
}

.single-modal-bg{
  position: fixed;
  top: 0;
  display: none;
  opacity: 0.9;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 15000;
  background: navyblue;
}

/*.movie-iterator{
    overflow-y: scroll;
    min-height: inherit;
}*/

.ModalOpen { overflow: hidden; }

.is-hidden { display: none; }

.is-visuallyHidden { opacity: 0; }

.search-mg{
    position: absolute;
    left: -1000px;
    margin-left: 10%;   
    display: none;
    height: 100%;
}

.removeicon{
  color: red;
  cursor: pointer;
  transition: transform .3s linear;
  display: block;
}

.removeicon:hover{
  transform: scale(1.5);
  margin: 0px auto;
}

.anime{
    animation-name: slide;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
    background-color: rgb(214, 202, 202);
    padding: 20px;
    width: 76%;
    /* border: 0.5px solid rgb(30, 118, 121); */
    border-radius: 10px;
    opacity: 0;
    margin-top: 100px;
}

div.hello{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url("../images/73.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

@keyframes slide{
    /* 0%{
        margin-top: 100px;
        opacity: 0;
    } */
    100%{
        margin-top: 0px;
        opacity: 0.8;
    }
}

@media (max-width: 576px){
    .box-mg{
/*        margin: 0px auto;*/
    }   
}

@media (max-width: 768px){
    .box-mg{
/*        margin: 0px auto;*/
    }   
}


@media (max-width: 992px){
    .box-mg{
/*        margin-left: 5%;*/
    }   
}

@media (max-width: 1200px){
    .box-mg{
/*        margin-left: 7.5%;*/
    }   
}